.projects {
  color: var(--secondary-contrast);
  max-width: 6em;
  background-color: var(--secondary);
  height: 100vh h2 {
    font-size: 1.2em;
  }
  .tree-projects {
    .tree-projects-list {
      ul {
        text-decoration: none;
      }
    }
  }
}
