.ClassObject {
  border: 1px solid #333;
  padding: 3px;
  background-color: rgb(245, 245, 114);
  color: #333;
  font-family: "Courier New", Courier, monospace;
  width: fit-content;
  position: absolute;
  border-spacing: 0;
  padding: 0;
  th {
    border-bottom: 1px solid #333;
  }
  tbody {
    td {
      padding-left: 4px;
      padding-right: 4px;
    }
  }
  &:active {
    cursor: move;
  }
}
