.ClassObject {
  border: 1px solid #333;
  background-color: rgb(245, 245, 114);
  color: #333;
  font-family: "Courier New", Courier, monospace;
  width: fit-content;
  position: absolute;
  border-spacing: 0;
  padding: 0;
  th {
    border-bottom: 1px solid #333;
  }
  .StereoTypes {
    font-style: italic;
    color: #666;
    font-size: 0.7em;
  }
  tbody {
    td {
      padding-left: 4px;
      padding-right: 4px;
    }
  }
  &:active {
    cursor: grabbing;
  }
  &:hover {
    cursor: grab;
  }
  &:focus,
  &:focus-visible {
    border: 2px solid #3f6cff;
    border-radius: 0.2em;
  }
}
