.ClassObject {
  border : 1px solid #333;
  padding: 3px;
  background-color: rgb(245, 245, 114);
  color : #333;
  font-family: 'Courier New', Courier, monospace;
  width: fit-content;
  position: absolute;
}